<h1>All Buckets</h1>

<hr />

<%= form_tag root_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<% end %>

<% if @buckets.any? %>
	<%@buckets.each do |bucket| %>
			<%= link_to (image_tag bucket.image.url(:medium)), bucket_path(bucket) %>
	<%end%>
</ul>
<% else %>
<h3>No Bucket list, please add one!</h3>
<% end %>


<br/>

<%= link_to 'Edit Profile', edit_user_registration_path %> |
<%= link_to 'My Bucket List', buckets_path %> |
<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Really Logout?'} %>